<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <!-- 配置事务管理器 (用来动态生成事务) -->
    <bean id="tm" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <tx:advice id="ad" transaction-manager="tm">
        <tx:attributes>
            <!-- save开头,运行时自动切入事务 -->
            <tx:method name="save*" propagation="REQUIRED"/>
            <tx:method name="update*" propagation="REQUIRED"/>
            <tx:method name="delete*" propagation="REQUIRED"/>
            <tx:method name="query*" propagation="NEVER" />
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="pt" expression="execution(* cn.ssm.service.ProductServiceImpl.*(..))"/>
        <aop:advisor advice-ref="ad" pointcut-ref="pt" />
    </aop:config>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis-config.xml" />
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!-- spring 就是通过xml来管理bean/class的创建、数量、时间、销毁 (生命周期) -->
    <bean id="productService" class="cn.ssm.service.ProductServiceImpl">
        <property name="productDao" ref="productDao" />
    </bean>

    <bean id="productDao" class="cn.ssm.dao.ProductDaoImpl">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>


    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
            <property name="driverClass" value="com.mysql.jdbc.Driver" />
            <property name="user" value="root" />
            <property name="password" value="Xkzjpx@240515#Java" />
            <property name="jdbcUrl" value="jdbc:mysql://rm-cn-em93nmniw000n6yo.rwlb.rds.aliyuncs.com:3306/demo?characterEncoding=UTF-8" />
    </bean>



</beans>