<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
    <!-- spring 就是通过xml来管理bean/class的创建、数量、时间、销毁 (生命周期) -->

    <bean id="productDao" class="cn.ssm.dao.ProductDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
            <property name="driverClass" value="com.mysql.jdbc.Driver" />
            <property name="user" value="root" />
            <property name="password" value="Xkzjpx@240515#Java" />
            <property name="jdbcUrl" value="jdbc:mysql://rm-cn-em93nmniw000n6yo.rwlb.rds.aliyuncs.com:3306/demo?characterEncoding=UTF-8" />
    </bean>



</beans>